<br/>
<h4>
	<span ondrop="dropC(event, '{{divElementId}}')" ondragleave="removeHighlight();" ondragover="allowDrop(event)">{{sctId}} |{{fsn}}|</span>
</h4>
<h4>
<div class="btn-group" style="margin:20px" role="group" aria-label="...">
	<button type="button" class="btn btn-default" id="ads-{{divElementId}}-children-button">Children</button>
	<button type="button" class="btn btn-default" id="ads-{{divElementId}}-descendants-button">Descendants</button>
</div>
<div class="btn-group" style="margin:20px" role="group" aria-label="...">
	<button type="button" class="btn btn-default" id="ads-{{divElementId}}-Prim-button">Primitive</button>
	<button type="button" class="btn btn-default" id="ads-{{divElementId}}-FD-button">FullyDefined</button>
	<button type="button" class="btn btn-default" id="ads-{{divElementId}}-Both-button">Both</button>
</div>
{{ adsView }} count: {{ count }} using {{ selectedPatterns.length }} patterns</h4>
</h4>
<div id="ads-{{divElementId}}-content"></div>

{{#if dataOK}}
	{{#each selectedPatterns}}
		<hr/>
		<div class="pull-right">
			<div class="pull-left">
				<h4>Usage: {{count}}  Examples: &nbsp;</h4>
				<ul>
				{{#each examples }}
					<li>
						<a id="ads-example" href="javascript:adsObj.selectConcept({{ sctId }})" title="{{ fsn }} ">{{ sctId }}</a>
						<a class="glyphicon glyphicon-book" href="http://snomed.info/id/{{sctId}}" title="Open {{sctId}}|{{fsn}}| in SCT Browser" target="_sctBrowser"/>
					</li>
				{{/each}}
				</ul>
			</div>
		</div>
		<div id="ads-{{@index}}" style="margin-top: 10px;" class="panel panel-default">
			<div id="ads-{{@index}}-diagram-body">
			</div>
		</div>
	{{/each}}
{{/if}}

